body {
  min-height: 100vh;
  background-color: rgb(239, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  #__layout{
    width: 100%;
  }
  #__nuxt{
    width: 100%;
  }
}
.textarea-input{
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0 !important;
  border: none !important;
}

.password {
  &-refresh-button{
    color: black;
  }
  &-letter{
    font-size: 22px;
    font-weight: 600;
    &.number{
      color: #3A57D8;
    }
    &.symbol{
      color: #FF697D;
    }
  }
  &-generator {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width:clamp(300px, 50%, 800px)
   
  }
  &-result-letter{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid #D9E0E2;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
    gap: 2px;
  }
  &-filter{
    width: 100%;
  }

  &-select-type {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media only screen and (max-width:991px) {
      flex-direction: column;
      gap: 10px;
    }

    button {
      padding: 8px 16px;
      height: 36px;
      background-color: #FAA755 !important;
    }

    .ant-select {
      &-selection {
        height: 36px !important;

        &--single {
          .ant-select-selection__rendered {
            line-height: 36px;
          }
        }
      }
    }
  }

  &-input {
    width: 100%;
    border-radius: 5px !important;
    margin: 1em 0;
    height: 36px;

  }
}

.slidecontainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  .range{
    &-input{
      display: flex;
      width: 100%;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
    }
    &-checkbox{
      display: flex;
    }
  }
  @media only screen and (max-width:991px) {
    flex-direction: column;
    gap: 10px;
  }
  .slider {
    -webkit-appearance: none;
    flex: auto;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #D9E0E2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  label{
    display: flex !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    display: inline-block;
    line-height: unset;
    cursor: pointer;
    align-items: center;
  }
}



.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  // border-radius: 50%;
  background: #FAA755;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  // border-radius: 50%;
  background: #FAA755;
  cursor: pointer;
}